.sign-up {
  display: flex;
  flex-direction: column;
  width: 45%;

  .title {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .sign-up {
    width: 100%;
    margin: 0 auto 30px auto;
  }
}
